* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.changePasswordContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
}

.changePasswordForm {
    position: relative;
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    gap: 1rem;
    flex-direction: column;
    border-radius: 18px;
}

.optionsIcon {
    display: none;
    color: rgb(82, 82, 82);
    font-size: 1.5rem;
    cursor: pointer;
    align-self: flex-end;
    transition: all 0.4s ease-in-out;
}

.optionsIcon:active {
    scale: 0.8;
}

.convosText {
    position: absolute;
    top: 4rem;
    font-size: 2rem;
    font-family: "Moon Dance", sans-serif;
    font-weight: 900;
    color: #6e00ff;
    text-align: center;
}

.changePasswordHeading {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: rgb(82, 82, 82);
}

.changePasswordDescription {
    font-size: 0.8rem;
    font-weight: 700;
    text-align: center;
    color: rgb(79, 79, 79);
    font-family: 'Open Sans', sans-serif;
}

.changePasswordInput {
    width: 70%;
    padding: 0.5rem 1rem;
    padding-left: 0;
    outline: none;
    border-bottom: 2px solid rgb(82, 82, 82);
    font-size: 1rem;
    transition: all 0.4s ease-in-out;
}

.changePasswordInput::placeholder {
    font-size: 0.8rem;
    color: rgb(82, 82, 82);
    transition: all 0.4s ease-in-out;
}

.changePasswordInput:focus {
    border-bottom: 2px solid #2bff00;
}

.changePasswordInput:focus::placeholder {
    font-size: 1rem;
    color: #2bff00;
}

.changePasswordButton {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid #6e00ff;
    border-radius: 6px;
    background-color: #6e00ff;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.changePasswordButton:hover {
    background-color: #FFFFFF;
    color: #6e00ff;
}

.changePasswordButton:active {
    transform: scale(0.9);
}

.companyLogo {
    position: absolute;
    font-size: 1.2rem;
    bottom: 2rem;
}

.logoSpan {
    size: 3rem;
    font-size: 2rem;
    background-color: #6e00ff;
    border-radius: 50%;
    font-family: "Domine", serif;
    padding: 0.2rem 0.4rem;
    color: #FFFFFF;
}

@media only screen and (max-width: 1200px) {

    .changePasswordForm {
        width: 80%;
    }

}

@media only screen and (max-width: 1024px) {
    
    .changePasswordForm {
        width: 90%;
    }

    .changePasswordInput {
        width: 55%;
    }

    .optionsIcon {
        display: block;
        position: absolute;
        top: 1.5rem;
        right: 1rem;
    }

    .convosText {
        margin-bottom: 3rem;
        position: relative;
    }
    .companyLogo {
        margin-top: 3rem;
        position: relative;
    }
}

@media only screen and (max-width: 576px) {
    
    .changePasswordForm {
        width: 90%;
    }

    .optionsIcon {
        display: block;
        position: absolute;
        top: 1.5rem;
        right: 1rem;
    }

    .convosText {
        margin-bottom: 3rem;
        position: relative;
    }

    .changePasswordInput {
        width: 70%;
    }

    .changePasswordButton {
        width: 70%;
    }

    .companyLogo {
        margin-top: 3rem;
        position: relative;
    }
}
