* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heroBar {
    width: 100%;
    height: 10%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.4);
}

.heroStatus {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.backIcon {
    cursor: pointer;
    font-size: 2rem;
    color: rgba(42, 42, 42, 0.8);
    display: none;
}

.connectivity {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.icons {
    font-size: 1.5rem;
    color: #6E00FF;
}

.displayPicture {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    overflow: hidden;
}

.displayPictureIcons {
    font-size: 3rem;
}

.heroName {
    font-size: 1.2rem;
    font-weight: 600;
}

.barHeroStatus {
    font-size: 0.7rem;
    color: rgba(42, 42, 42, 0.8);
}

@media screen and (max-width: 792px) {

    .heroBar {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .backIcon {
        display: block;
    }
}