@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Cabin:ital,wght@0,400..700;1,400..700&family=Domine:wght@400..700&family=Moon+Dance&family=Russo+One&display=swap');


.page-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-container {
    position: relative;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    background-image: url('../assets/IMG/background-home.png');
    background-position: center;
    background-size: cover;
    border-radius: 18px;
    box-shadow: 2px 2px 4px #9ed4ff;
}

.hero-container {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    justify-self: flex-start;
}

.company-logo {
    font-size: 1.2rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.logo-span {
    size: 3rem;
    font-size: 2rem;
    background-color: #6e00ff;
    border-radius: 50%;
    font-family: "Domine", serif;
    padding: 0.2rem 0.4rem;
    color: #FFFFFF;
}

.hero-text {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.convos-text {
    font-size: 4rem;
    font-family: "Moon Dance", sans-serif;
    font-weight: 900;
    color: #6e00ff;
    text-align: center;
}

.powered-by {
    font-size: 1rem;
    font-family: "Domine", serif;
    font-weight: 700;
    color: rgb(128, 128, 128);
    text-align: center;
}

.tech-stack {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.react-icon, .mongodb-icon, .express-icon {
    font-size: 2rem;
    background-color: rgba(128, 128, 128, 0.4);
    border-radius: 50%;
    padding: 0.2rem;
}

.help-and-support {
    font-size: 0.6rem;
    color: #6e00ff;
    margin-top: 5rem;
    cursor: pointer;
}
