* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.messageContainer {
    max-width: 40%;
    border-radius: 12px;
    margin-bottom: 0.5rem;
}

.you {
    align-self: flex-end;
}

.you .messageTxt{
    padding: 0.5rem 1rem;
    background-color: #6E00FF;
    color: #FFFFFF;
    border-radius: 20px;
    border-top-right-radius: 3px;
}
.else {
    align-self: flex-start;
}

.else .messageTxt{
    padding: 0.5rem 1rem;
    background-color: #F5F5F5;
    color: #000000;
    border-radius: 20px;
    border-top-left-radius: 3px;
}

.messageTxt {
    font-size: 1rem;
    word-wrap: break-word;
}

.additionalInfo {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 0.6rem;
    justify-content: flex-end;
}

.sent {
    font-size: 0.8rem;
    text-align: right;
    stroke-width: 1;
}

.seen {
    font-size: 0.8rem;
    color: #6E00FF;
    text-align: right;
    stroke-width: 1;
}

.delivered {
    font-size: 0.8rem;
    text-align: right;
    stroke-width: 1;
}


