*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.message-window-container {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 0rem 2rem;
    width: 100%;
    height: 80%;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 4px #9ed4ff;
    overflow-y: scroll;
}

.message-window-container::-webkit-scrollbar {
    display: none;
}