* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.utilityBar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.utilityIconsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10rem;
}

.utilityIcons, .logoutIcon {
    font-size: 2.2rem;
    color: #FFFFFF;
    stroke-width: 0.2;
}

@media screen  and ( max-width: 792px ) {
    .utilityIcons, .logoutIcon {
        font-size: 2.6rem;
    }
}

@media screen  and ( max-width: 792px ) {
    .utilityIcons, .logoutIcon {
        font-size: 2.4rem;
    }
}


