* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.utility-bar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.utility-icons-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10rem;
}

.utility-icons, .log-out-icon {
    font-size: 2.4rem;
    color: #FFFFFF;
    stroke-width: 0.2;
}

