@import 'tailwindcss';

:root {
    font-size: 16px;
}

@media screen and (max-width: 1200px) {
    :root {
        font-size: 15px;
    }
}

@media screen and (max-width: 1024px) {
    :root {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    :root {
        font-size: 14px;
    }
}

@media screen and (max-width: 512px) {
    :root {
        font-size: 12px;
    }
}